doctype html
html
  head
    meta(charset = 'utf-8')
    title= config.siteName
    script(type = 'text/javascript' src = 'bundle.js')
    link(rel = 'stylesheet' type = 'text/css' href = 'main.css')
